<bui-header size="large">
    <bui-header-brand-logo>
        <bui-logo size="large"></bui-logo>
    </bui-header-brand-logo>
    <bui-header-title>Menschlichi Bank Markierig</bui-header-title>
    <bui-header-navigation-menu>
        <div class="bui-flex bui-gap-1">
          <button bui-primary-button><a [routerLink]="['Reaktionszeit']">Reaktionszeit</a></button>
          <button bui-primary-button><a [routerLink]="['CPS']">CPS</a></button>
          <button bui-primary-button><a [routerLink]="['Typespeed']">Type(Script)speed</a></button>
        </div>
      </bui-header-navigation-menu>
  </bui-header>