<bui-header size="large">
    <bui-header-navigation-menu>
      <div class="bui-flex bui-gap-0.5">
        <a [routerLink]="['Reaktionszeit']"><button bui-primary-button>Reaktionierigszit</button></a>
        <a [routerLink]="['CPS']"><button bui-primary-button>Klickisatione pro Sekundierig</button></a>
        <a [routerLink]="['Typespeed']"><button bui-primary-button>Type(Script)speed</button></a>
        <a [routerLink]="['NumberMemory']"><button bui-primary-button>Nummerischi Memorisierig</button></a>
        <a [routerLink]="['AimTrainer']"><button bui-primary-button>Zielinisator</button></a>
        <a [routerLink]="['Monke']"><button bui-primary-button>Menscheähnlichs Wese überprüefig</button></a>
        <a [routerLink]="['VerbalMemory']"><button bui-primary-button>Verbali Memorisierig</button></a>
        <a [routerLink]="['OneFifty']"><button bui-primary-button>Speed</button></a>
        <a [routerLink]="['MentalMath']"><button bui-primary-button>Mental Meth</button></a>
      </div>
    </bui-header-navigation-menu>
</bui-header>